@{
    ViewData["Title"] = "Home Page";
}

@model List<TaskResponse>

<div class="text-center">
    <h1 class="display-4">Stephen Covey's Time Management Matrix</h1>
</div>

<div class="parent">
    <div class="div1"></div>
    <div class="div2">
        <h3>URGENT</h3>
    </div>
    <div class="div3">
        <h3>NOT URGENT</h3>
    </div>
    <div class="div4">
        <h3 class="rotate">IMPORTANT</h3>
    </div>
    <div class="div5">
        <h3>QUADRANT 1</h3>
        @foreach (var x in Model)
        {
            <ul>
                <li>@x.Task</li>

                <li><a asp-controller="Home" asp-action="AddEditTask" asp-route-id="@x.TaskId">Update</a></li>
                <li><a asp-controller="Home" asp-action="Delete" asp-route-id="@x.TaskId">Delete</a></li>
            </ul>
        }

    </div>
    <div class="div6">
        <h3>QUADRANT 2</h3>
        @foreach (var x in Model)
        {
            <ul>
                <li>@x.Task</li>

                <li><a asp-controller="Home" asp-action="AddEditTask" asp-route-id="@x.TaskId">Update</a></li>
                <li><a asp-controller="Home" asp-action="Delete" asp-route-id="@x.TaskId">Delete</a></li>
            </ul>
        }

    </div>
    <div class="div7">
        <h3 class="rotate">NOT IMPORTANT</h3>
    </div>
    <div class="div8">
        <h3>QUADRANT 3</h3>
        @foreach (var x in Model)
        {
            <ul>
                <li>@x.Task</li>

                <li><a asp-controller="Home" asp-action="Update" asp-route-id="@x.TaskId">Update</a></li>
                <li><a asp-controller="Home" asp-action="Delete" asp-route-id="@x.TaskId">Delete</a></li>
            </ul>
        }

    </div>
    <div class="div9">
        <h3>QUADRANT 4</h3>
        @foreach (var x in Model)
        {
            <ul>
                <li>@x.Task</li>

                <li><a asp-controller="Home" asp-action="Update" asp-route-id="@x.TaskId">Update</a></li>
                <li><a asp-controller="Home" asp-action="Delete" asp-route-id="@x.TaskId">Delete</a></li>
            </ul>
        }

    </div>
</div>


