@{
    ViewData["Title"] = "Home Page";
}

@model List<TaskResponse>
@*Chase Rindlisbacher, Isabelle Sampson, Eduardo Rogriguez, and James Leer Section 3 Group 02*@

<div class="text-center">
    <h1 class="display-4">Stephen Covey's Time Management Matrix</h1>
</div>
<br /><br />

<div class="parent">
    <div class="div1"></div>
    <div class="div2 sidelabel">
        <h6>URGENT</h6>
    </div>
    <div class="div3 sidelabel">
        <h6>NOT URGENT</h6>
    </div>
    <div class="div4 sidelabel rotate">
        <h6>IMPORTANT</h6>
    </div>
    <div class="div5">
        @*Will make 4 quadrants for different levels of importance and urgency*@
        <h3>QUADRANT 1</h3>
        @*Will populate individual quadrant with tasks that were stated to be in that quadrant. Same thing for each quadrant*@
        @foreach (var x in Model)
        {
            @if (x.Quadrant == 1)
                {
                        <ul>
                            <li>@x.Task</li>
                        </ul>
                        <a asp-controller="Home" asp-action="Edit" asp-route-TaskID="@x.TaskId">Update</a>
                        <a asp-controller="Home" asp-action="Delete" asp-route-TaskID="@x.TaskId">Delete</a>
                    
                }
            
        }

    </div>
    <div class="div6">
        <h3>QUADRANT 2</h3>
        @foreach (var x in Model)
        {
            @if (x.Quadrant == 2)
            {
                    <ul>
                        <li>@x.Task</li>
                    </ul>
                    <a asp-controller="Home" asp-action="Edit" asp-route-TaskID="@x.TaskId">Update</a>
                    <a asp-controller="Home" asp-action="Delete" asp-route-TaskID="@x.TaskId">Delete</a>
                
            }
        }

    </div>
    <div class="div7 sidelabel rotate">
        <h6>NOT IMPORTANT</h6>
    </div>
    <div class="div8">
        <h3>QUADRANT 3</h3>
        @foreach (var x in Model)
        {
            @if (x.Quadrant == 3)
            {
                    <ul>
                        <li>@x.Task</li>
                    </ul>
                    <a asp-controller="Home" asp-action="Edit" asp-route-TaskID="@x.TaskId">Update</a>
                    <a asp-controller="Home" asp-action="Delete" asp-route-TaskID="@x.TaskId">Delete</a>
                
            }
        }

    </div>
    <div class="div9">
        <h3>QUADRANT 4</h3>
        @foreach (var x in Model)
        {
            @if (x.Quadrant == 4)
            {
                <ul>
                    <li>@x.Task</li>
                </ul>
                    <a asp-controller="Home" asp-action="Edit" asp-route-TaskID="@x.TaskId">Update</a>
                    <a asp-controller="Home" asp-action="Delete" asp-route-TaskID="@x.TaskId">Delete</a>
                
            }
        }

    </div>
</div>


